@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

.qwitcher-grypen-bold {
  font-family: "Qwitcher Grypen", cursive, 'Courier New', 'Copperplate', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-style: normal;
}

main {
    --main-width: 1024px;
    font-size: 16px;
}

body #moon {
    vertical-align: middle;
    display: none;
}

body #sun {
    display: none;
}

.main h1 {
    font-size: 32px;
}


.main h2 {
    font-size: 27px;
}

.main h3 {
    font-size: 23px;
}

tbody {
    font-size: 14px;
}

.logo a {
    font-family: "Qwitcher Grypen", cursive, 'Courier New', 'Copperplate', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-style: normal;

    font-size: 40px;

    --color: var(--primary);
    color: #fffff0;
}
